extends layout

block content
  h1(class="text-3xl font-bold")= title
  p
    |     Welcome to the Kanban API by #{ ' ' }
    a(href="https://authjs.dev/reference/express", class="underline")  LucasZebre